a {
	color: Maroon;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
p, td {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}
.nostyle {
 	border:0px;
}
.tablehead, a.tablehead {
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	background-color: #666;
	color: #fff;
	text-decoration: none;
}
.highlight {
	background-color: #B8C0CF;
}
.tabletext {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}
.tablerow {

}
.header {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}
input {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	margin-top: 2px;
	color: #333;
}
input.disabled {
	margin-top: 2px;
	border: 1px solid #efefef;
	background-color: #efefef; 
	color: #666666;
}
.dropDown{
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #ccc;
	background-color: #fff; 
	color: #333;		
}

input.notgrey {
	font:10px verdana, arial, Helvetica, "ms sans serif", sans-serif;
	background-color: #fff;
	border: 2px inset;
	margin-top: 0px;
}

/* HEADER CLASSES */
#headerTabNav, .headerTabNav {
	background:  url("templates/images/layout/nav2-bg.gif") #999 top repeat-x;height: 34px;
}
TR.header {
  background: #ffffff;
}

TR.headerNavigation {
  background: #666;
}

TD.headerNavigation, .headerNavigation {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #990000;
  color: #ffffff;
  font-weight : bold;
	padding: 5px;
}
.headerNavigation a, .headerNavigation a:link, .headerNavigation a:visited {
	color: #fff;
	text-decoration: underline;
}
.headerNavigation a:hover {
	color: #fff;
	text-decoration: none;
}

TD.headerUtilities {
  font-family: Arial, sans-serif;
  font-size: 10px;
  background: #92CB61;
  color: #ffffff;
	border:1px solid black;
}
A.headerUtilities { 
  color: #000;
}

A.headerUtilities:hover {
  color: #ffffff;
	background-color:#33CC99;
}

A.headerNavigation { 
  color: #FFFFFF; 
	text-decoration: none;
}

A.headerNavigation:hover {
  color: #ffffff;
}

table.maintain{
	/*border:1px solid #666;*/
	width:100%;
	height:100%;
}


/* ANCHOR LINK BUTTON CLASSES */
#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	text-decoration: none;
	font-weight: normal;
	font-size:10px;
	padding: 3px 0px 3px 5px;
	color:#000000;
}
#sectionLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #ccc;/*#E5F0FA;*/
	color: white;/*#6699CC;*/
	font-weight: bold;
	text-decoration: none;
}
#sectionLinks a.sub:link, #sectionLinks a.sub:visited {
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	font-weight: normal;
	font-size:9px;
	padding: 3px 0px 3px 3px;
	color:#000000;
	background-color: #ccc;/*#E5F0FA;*/
}
#sectionLinks a.sub:hover{
	border-top: 1px solid #cccccc;
	background-color: #85A0C2;
	color:#6699CC;
	text-decoration: none;
}
#footerLinks, #footerLinks a, #footerLinks a:visited {
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}
#footerLinks a:hover {
	color:#3366CC;
}

.copyright{
	border:1px solid #666;
	font: 10px Tahoma, Verdana;
	padding: 3px;
	background: #ccc;
}