body {
	font: 11px verdana;
	scrollbar-3dlight-color: transparent;
	scrollbar-arrow-color: #666;
	scrollbar-base-color: #666;
	scrollbar-darkshadow-color: transparent;
	scrollbar-face-color: transparent;
	scrollbar-highlight-color: #666;
	scrollbar-shadow-color: transparent;
	scrollbar-track-color: #666;
}
body.login{
	background-image:url(images/cats_bg.gif);
	background-position:center;
	background-repeat:no-repeat;
}
td {
	font: 11px Verdana;
}
#categoryLinks{
	margin: 0px;
	padding: 0px;
	font-size: 10px;
}

#categoryLinks h3{
	margin-bottom: 1px;
	font-size:10px;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	background-color: #666;
	color: #fff;
}
#categoryLinks h3 a, #categoryLinks h3 a:link, #categoryLinks h3 a:visited{
	display: block;
	border-top: 1px solid #ccc;
	background-color: #ccc;
	padding: 10px 0px 10px 1px;
}
#categoryLinks h3 a:hover {
	border-top: 1px solid #fff;
	color: #000;
	text-decoration: none;
	background-color: buttonface;
}
#categoryLinks h3 a img, #categoryLinks h3 a:link img, #categoryLinks h3 a:hover img, #categoryLinks h3 a:visited img{
	margin-right: 3px;
}

#categoryLinks a:link, #categoryLinks a:visited {
	display: block;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	font-weight: bold;
	padding: 3px 0px 3px 5px;
	color: #000;
	background-color: #ccc;
	text-decoration: none;
}

#categoryLinks a:hover{
	border-top: 1px solid #fff;
	color: #000;
	background-image: none;
	font-weight: bold;
	text-decoration: none;
	background-color: buttonface;
}
#subCategoryLinks {
	padding-left: 10px;
}
#subCategoryLinks a:link, #subCategoryLinks a:visited {
	display: block;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-weight: normal;
	color: #fff;
	background-color: #666;
	text-decoration: none;
}

#subCategoryLinks a:hover{
	border-top: 1px solid #ccc;
	color: #000;
	font-weight: normal;
	text-decoration: none;
	background-color: #ccc;
}

#categoryHeading {
	padding: 0px 0px 2px 10px;
	border-bottom: 1px solid #ccc;
}
#categoryHeading h3 {
	margin: 1px;
	padding-bottom: 10px;
}

#featureHeading {
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}

#menuLinks {
	font-size: 9px;
}

#articleBody {
	padding: 5px 5px 10px 5px;
}

#errors {
	 border:2px solid red;
	 background-color:#FFFF99;
}

table.cart {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}
table.cart th {
	background-color: #ccc;
	padding: 5px;
}
table.cart td.hrTop, .hrTop {
	border-top: 1px solid #ccc;
}
table.cart td.hrBottom, .hrBottom {
	border-bottom: 1px solid #ccc;
}
.tr_over{
	background-color:#eee;
}

#splashLinks {
	font: bold 16px Tahoma, Verdana, Helvetica;
}
#splashLinks a:link, #splashLinks a:visited {
	display: block;
	color:#000000;
	min-height: 32px;
	background-repeat: no-repeat;
	background-position: left;
	border: 1px solid buttonface;
	padding: 5px 2px 2px 38px;
	text-decoration: none;
}
#splashLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #E6E6E6;
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
.splash_menu {
	background-color: #FFFFFF;
	border: 1px outset;
}