
td, p, body {
	font-family: verdana, arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13pt;
	color: #000000;
	word-spacing: 0;
	width:622px !important;
}
#logo{
	display:block;
}
form#id_searchform {
	display: none;
}
td.head {
	font-family: verdana, arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13pt;
	background: #eeeeee;
}
a {
	color: Blue;
}

table#mainHeader {
	display: block;
}
/* HEADER CLASSES */
#headerTabNav, .headerTabNav, #hide, .hide {
	display:none;
}

TD.headerNavigation, .headerNavigation {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #990000;
  color: #ffffff;
  font-weight : bold;
	padding: 5px;
}

TD.headerUtilities {
  display: none;
}

/* BODY/CONTAINER CLASSES */
#column_left {
	width:0px;
	display: none;
}
#column_body {
	width:622px !important;
	float:left;
	display: block;
	margin: 0px 5px 5px 5px;
}
#column_right {
	width: 0px;
	display: none;
}

/* ANCHOR LINK BUTTON CLASSES */
#sectionLinks {
	display: none;
}
#footerLinks {
	display: none;
}