body {
	font: Tahoma, Verdana, Helvetica;
	background-image:url(images/cats_bg.jpg); background-position:center; background-repeat:no-repeat;/* */
	scrollbar-3dlight-color: transparent;
	scrollbar-arrow-color: #666;
	scrollbar-base-color: #666;
	scrollbar-darkshadow-color: transparent;
	scrollbar-face-color: transparent;
	scrollbar-highlight-color: #666;
	scrollbar-shadow-color: transparent;
	scrollbar-track-color: #666;
}
body.login{
	background-image:url(images/cats_bg.jpg);
	background-position:center;
	background-repeat:no-repeat;
}
td {
	font: 11px Verdana;
}

td.info, td.error, td.halt {
	background-position:top;
	background-repeat:no-repeat;
	padding-left:40px;
}
td.info {
	background-image:url(icons/info_icon.gif);
}
td.error {
	background-image:url(icons/error.gif);
}
td.halt {
	background-image:url(icons/halt.gif);
}

.tr_over{
	background-color:#ccc;
}

h1 {
	font: bolder 24px Verdana;
}
h2 {
	font: bolder 18px Verdana;
}
#print{
	display:none;
}
/* ANCHOR LINK BUTTON CLASSES */
#splashLinks {
	font: bold 16px Tahoma, Verdana, Helvetica;
}
#splashLinks a:link, #splashLinks a:visited {
	display: block;
	color:#000000;
	min-height: 32px;
	background-repeat: no-repeat;
	background-position: left;
	border: 1px solid buttonface;
	padding: 5px 2px 2px 38px;
	text-decoration: none;
}
#splashLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #E6E6E6;
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
.splash_menu {
	background-color: #FFFFFF;
	/*border: 1px outset;*/
}
.dialog_title {
	background-image: url(icons/icon_dialog.gif);
	background-position:left;
	background-repeat:no-repeat;
	padding: 5px 1px 5px 30px;
	font: bold 13px Verdana;
	color: #333333;

}
.dialog_title_bg {
	background-image: url(images/toolbar_bg.jpg);
}
#Lcontentbody{
	overflow: auto;
}
/* message stack classes */
.messageStackError, 
.messageStackWarning, 
.messageStackSuccess,
.messageStackInfo { border: 1px dashed #ccc; padding-left: 20px; background-position:left; background-repeat:no-repeat; font: bold 12px Verdana, Arial, sans-serif;}
.messageStackError { background-image: url(icons/error_sml.gif);}
.messageStackWarning { background-image: url(icons/warn_sml.gif);}
.messageStackSuccess { background-image: url(icons/success_sml.gif);}
.messageStackInfo { background-image: url(icons/info_sml.gif);}
.messageStackError span { display: block; padding: 3px; color: #FF0000;}
.messageStackWarning span { display: block; padding: 3px;}
.messageStackSuccess span { display: block; padding: 3px; color: #009900;}
.messageStackInfo span { display: block; padding: 3px; color: #006699;}
.copyright{
	border:1px solid #666;
	font: 10px Tahoma, Verdana;
	padding: 3px;
	background: #ccc;
	vertical-align:middle;
}
