<!--
.dialog{
	border: 2px outset;
	height:100%;
}
.dialog_title_bg{
	background: buttonface url(images/toolbar_bg.png) repeat-x;
}
.dialog_title{
	padding: 5px 1px 5px 30px;
	font: bold 13px Verdana;
	color: #333333;
	background: url(icons/icon_dialog.gif) left no-repeat;
}
-->