/* INCIDENT TABS */
#tabs{
	font: bold 11px verdana;
	color: #333333;
}
.tab_off {
	display:block;
	float:left;
	padding: 5px;
	border: 1px outset;
	background-color: #e1e1e1;
	cursor: pointer;
}
.tab_on {
	display:block;
	float:left;
	padding: 5px;
	border: 1px inset;
	background-color: #CCCCCC;
	cursor: pointer;
}

.div_off{
	display:none;
	padding: 5px;
}
.div_on{
	display:block;
	padding: 5px;
}

/* PCR TABS */
#main_tabs {
	font: 11px Verdana;
	color:#000000;
	width:auto;
	background:#ccc;
	border-bottom:1px solid buttonface;
	padding:0px;
	margin:0px;
}
#main_tabs a, #main_tabs a:visited, #end_tab {
	display: block;
	color:#000000;
	float: left;
	background-repeat: no-repeat;
	background-position: left;
	padding: 5px 5px 5px 23px;
	text-decoration: none;
}
#main_tabs a.tab_on {
	border: outset; 
	border-width:1px;
	border-bottom:1px solid buttonface;
	background-color: #e1e1e1; 
	font-weight:bold; 
}
#main_tabs a.tab_off {
	border: inset; 
	border-width:1px;
	background-color: #ccc; 
	font-weight:normal; 
	filter: gray();
}
#main_tabs a#pcr_details {
	background-image: url(images/icons/pcr_details.gif);
}
#main_tabs a#view_pcr_details {
	background-image: url(images/icons/pcr_details.gif);
}
#main_tabs a#pcr_initial_review {
	background-image: url(images/icons/pcr_initial_review.gif);
}
#main_tabs a#view_pcr_initial_review {
	background-image: url(images/icons/pcr_initial_review.gif);
}
#main_tabs a#pcr_evaluation {
	background-image: url(images/icons/pcr_evaluation.gif);
}
#main_tabs a#view_pcr_evaluation {
	background-image: url(images/icons/pcr_evaluation.gif);
}
#main_tabs a#pcr_area_review {
	background-image: url(images/icons/pcr_area_review.gif);
}
#main_tabs a#view_pcr_area_review {
	background-image: url(images/icons/pcr_area_review.gif);
}
#main_tabs a#pcr_pcrt_review {
	background-image: url(images/icons/pcr_pcrt_review.gif);
}
#main_tabs a#view_pcr_pcrt_review {
	background-image: url(images/icons/pcr_pcrt_review.gif);
}
#main_tabs a#pcr_extension {
	background-image: url(images/icons/pcr_extension.gif);
}
#main_tabs a#view_pcr_extension {
	background-image: url(images/icons/pcr_extension.gif);
}
#main_tabs a#pcr_actions {
	background-image: url(images/icons/pcr_actions.gif);
}
#main_tabs a#view_pcr_actions {
	background-image: url(images/icons/pcr_actions.gif);
}
#main_tabs a#pcr_sign_off {
	background-image: url(images/icons/pcr_sign_off.gif);
}
#main_tabs a#view_pcr_sign_off {
	background-image: url(images/icons/pcr_sign_off.gif);
}
#main_tabs a#pcr_post_audit {
	background-image: url(images/icons/pcr_post_audit.gif);
}
#main_tabs a#view_pcr_post_audit {
	background-image: url(images/icons/pcr_post_audit.gif);
}