<!--
body, html {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div.block{
    display: block;
    clear: both;
    padding: 0px;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}

div.buttonblock{
	margin-top: 1ex;
	margin-bottom: 1ex;
	text-align:center;
	margin-left: -40px;
}
input, textarea, select {
	font:11px Verdana;
	color: #333;
}
input.sfield { 
	width: 95%;
}

input.sfield:focus { 
	background-color: #e1e1e1;
}
.block label
{
	font-weight: bold;
	padding-right: 1ex;
	white-space: nowrap;
	display: block;
}

#dialog_login_form{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
	border: 1px dashed #666;
	overflow: auto;
	background: #fff;
}
#login_form{
	width: 40%;
	/*height: 30%;*/
	position: absolute;
	top: 20%;
	left: 30%;
	border: 1px dashed #666;
	padding: 10px;
	overflow: auto;
	background: #fff;
}
#login_form p{
	font: 12px Verdana, Arial;
	margin: 20px 5px;
}
#login_form h4{
	font: bold 15px Verdana, Arial;
	margin: 5px 5px 10px 5px;
}
#form{
	background: url(icons/login.gif) no-repeat left;
}
form#login, form#frmLogin{
	display: block;
	padding: 0 0 0 70px;
}
div#copyright{
	position: absolute;
	display: block;
	bottom: 0px;
	height: 20px;
	width: 100%;
}
.copyright{
	border:1px solid #666;
	font: 10px Tahoma, Verdana;
	padding: 3px;
	background: #ccc;
}
LABEL {
	font:bold 11px "Courier New";
}
.box {
	border: 1px dashed #666;
}
div.box {
	margin: 15px;
	padding: 0px 10px;
	font: bold 12px Verdana;
}
input.submit {
	padding: 5px 0px 5px 27px;
	font-weight:bold;
	background: url(icons/button.gif) left no-repeat;
	text-align:left;
}
-->