
#Lcontentbody{
	height: 100%;
}
#print{
	display:block;
}
#hide{
	display:none;
}
#tool_bar_c {display:none;}
.tbar_btns{display:none}
#tab_panel[0],
#tab_panel[1],
#tab_panel[2],
#tab_panel[3],
#tab_panel[4],
#tab_panel[5],
#tab_panel[6],
#tab_panel[7],
#tab_panel[8],
#tab_panel[9]
{display:block;}