

html, body{
	margin:0px;
	border:0px;
	height:100%;
	width:100%;
	overflow:hidden;
}

a {
	font: bold 15px "Courier New", Courier, mono;

	/*"Times New Roman", Times, serif;	font-family:Tahoma, Verdana, Helvetica;*/
	color: #FFFFFF;
}
a:hover {
	/*background-color: #003399;*/
}


#main_body{
	position:absolute;
	width:100%;
	height:100%;
	border:2px solid red;
}
#top_logo {
	display:none;
	font: bold 16px "Courier New", Courier, mono;
	float: left;
	width:100%;
/*	background-image:url(images/header.jpg); */
	background-repeat:no-repeat;
	background-position:right;
}
#top_personal{
	display:none;
	background-color: transparent; 
	position:absolute; 
	float:right; 
	z-index: 10000; 
	top: 0px; 
	right: 0px;
}
#top_logo a:link, #top_logo a:visited {
	display: block;
	/*min-height: 32px;*/
	width:60px;
	float:left;
	color:#333333;
	/*background-color:buttonface;*/
	background-repeat: no-repeat;
	background-position: top;
	border: 1px outset buttonface;
	padding: 33px 2px 2px 2px;
	text-decoration: none;
	text-align:center;
}
#top_logo a:hover{
	border-top: 1px solid #cccccc;
	background-color: #E6E6E6;
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

#menu_title {
	font: bolder 15px Tahoma;
	width:100%;
	border-top: 1px solid buttonhighlight;	
	border-left: 1px solid buttonhighlight;	
	border-bottom: 1px solid buttonshadow; 
	border-right: 1px solid buttonshadow;
	text-decoration: none;
	background-color:#CCCCCC;
}
a.top_right, a.top_right:link, a.top_right:visited, a.top_right:hover {
	float:right; 
	height:20px; 
	width:24px; 
	padding:0px; 
	border:none;
}
.toolbar {
	background-image:url(images/toolbar_bg.jpg);
	background-repeat:repeat-x;
}
.toolbar a, .toolbar a:visited {
	display: block;
	float:left;
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid buttonface;
	padding: 5px 30px 0px 5px;
	text-decoration: none;
	cursor:default;
}
fieldset{border:none;}
.toolbar a:hover {
	border-top: 1px solid buttonhighlight;	
	border-left: 1px solid buttonhighlight;	
	border-bottom: 1px solid buttonshadow; 
	border-right: 1px solid buttonshadow;
	background-color:#CCCCCC;
}
.toolbar a.edit {
	color:#333333;
	background-image:url(icons/btn_edit_bg.gif);
}

.toolbar a.search{
	color:#333333;
	background-image:url(icons/btn_search_bg.gif);
}

.toolbar a.back{
	color:#333333;
	background-image:url(icons/btn_back_bg.gif);
}

iframe{
	/*border:2px outset #eeeeee;*/
	background-color:#eee;
}
iframe#main_frame{
	border: 1px solid #e1e1e1;
}

#top_logo a.cats_home{
	background-image: url(images/cats.jpg);
	width:205px !important;
	padding: 0px;
	height: 54px !important;
}

.loading_message{
	background-image:url(loading.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	padding-bottom: 50px;
}
#loading_message {
	background-image: url(images/loading_bg.jpg);
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:499999
}