#tabs{
	font: bold 11px verdana;
	color: #333333;
}
.tab_off{
	display:block;
	float:left;
	padding: 5px;
	border: 1px outset;
	background-color: #e1e1e1;
	cursor: pointer;
}
.tab_on{
	display:block;
	float:left;
	padding: 5px;
	border: 1px inset;
	background-color: #CCCCCC;
	cursor: pointer;
}
.div_off{
	display:none;
	padding: 5px;
}
.div_on{
	display:block;
	padding: 5px;
}