<div id="Lcontentbody">
<table>
<tr valign="top">
	<td width="60%">
		<fieldset class="tbar">
		<table class="admin" border="0" cellspacing="2" cellpadding="0" width="100%" style="background:#fff;">
		<caption id="tog"><a name="todo" onclick="this.blur();">Welcome to ezwebmaker Adminstration</a></caption>
		<tr>
			<td>
				<p>Welcome back <!-- firstname -->, you last logged into the system on <!-- lastlogdate --> at <!-- lastlogtime -->. If this time is incorrect please contact your <a href="mailto:<!-- admin_email -->">website administrator</a>. You have logged into the system <!-- lognum --> times.</p>
				<!-- xtra_content -->
			</td>
		</tr>
		</table>
		<!-- xtra_templates -->
		</fieldset>
	</td>
	<td width="40%">
		<fieldset class="tbar">
		<table class="admin" border="0" cellspacing="0" cellpadding="2" width="100%" style="background:#fff;">
		<caption id="tog"><a name="todo" onclick="this.blur();">My Details</a></caption>
		<tr>
			<td class="label"><label for="id_userid">User ID:</label></td>
			<td><!-- user_id --></td>
		</tr>
		<tr>
			<td class="label"><label for="id_username">Username:</label></td>
			<td><!-- name --></td>
		</tr>
		<tr>
			<td class="label"><label for="id_email">Email:</label></td>
			<td><!-- email --></td>
		</tr>
		<tr>
			<td class="label"><label for="id_fname">Given Name:</label></td>
			<td><!-- firstname --></td>
		</tr>
		<tr>
			<td class="label"><label for="id_lname">Surname:</label></td>
			<td><!-- lastname --></td>
		</tr>
		</table>
		<!-- extra_panels -->
		</fieldset>
		<fieldset class="tbar">
		<div align="right" class="bar">
			<a
			title="Edit My Account Details"
			href="users.php?column_left_off=1&action=edit&id=<!-- user_id -->"
			style="background-image:url(images/icons/users.gif);float:right;">My Account</a>
		</div>
		</fieldset>
	</td>
</tr>
</table>
</div>