<script>
if(typeof(EDITOR_VALIDATE)=="string") EDITOR_VALIDATE+=";";
EDITOR_VALIDATE+="campaign_name;empty;Campaign Name";
</script>
<input type="hidden" name="campaign_id" value="<!-- campaign_id -->">
<tr>
	<td class="label"><label for="id_campaign_url">Campaign URL:</label></td>
	<td>
		<!-- campaign_url -->
	</td>
</tr>
<tr>
	<td class="label"><label for="id_campaign_name">Campaign Name:</label></td>
	<td><input class="sfield" name="campaign_name" id="id_campaign_name" type="text" size="50" value="<!-- campaign_name -->"></td>
</tr>
<tr>
	<td class="label"><label for="id_form_type">Form Type:</label></td>
	<td>
		<!-- form_type -->
	</td>
</tr>
<tr>
	<td class="label"><label for="id_campaign_show_navigation">Show Navigation:</label></td>
	<td>
		<!-- campaign_show_navigation -->
	</td>
</tr>
<tr>
	<td class="label"><label for="id_form_title">Form Title:</label></td>
	<td><input class="sfield" name="form_title" id="id_form_title" type="text" size="50" value="<!-- form_title -->" /></td>
</tr>
<tr>
	<td class="label"><label for="id_form_info">Form Instructions:</label></td>
	<td><textarea class="sfield" name="form_info" id="id_form_info" rows="2" style="width:98%;"><!-- form_info --></textarea></td>
</tr>
<tr>
	<td class="label"><label for="id_form_message">Form Completion Message:</label></td>
	<td><textarea class="sfield" name="form_message" id="id_form_message" rows="2" style="width:98%;"><!-- form_message --></textarea></td>
</tr>
<tr>
	<td class="label"><label for="id_form_show_posted_info">Show Posted Information?:</label></td>
	<td>
		<!-- form_show_posted_info -->
	</td>
</tr>