<fieldset class="bar">
<a
	title="Create New Item"
	href="#" onclick="document.forms.form.Submit.click();"
	style="background-image:url(images/icons/new.gif);">Create</a></a>
<a
	title="Cancel"
	href="admin.php"
	style="background-image:url(images/icons/cancel.gif);">Cancel</a>
</fieldset><div id="Lcontentbody">
<form name="form" action="editor.php" method="POST" enctype="multipart/form-data">
<input type="hidden" name="id" value="<!-- id -->">
<input type="hidden" name="pid" value="<!-- pid -->">
<input type="hidden" name="action" value="<!-- action -->">
<fieldset class="tbar">
<table class="admin" border="0" cellspacing="0" cellpadding="2" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Choose Page Type</a></caption>
<tr>
	<td colspan="2" style="border-bottom:1px solid #ccc;">
		<table>
		<tr>
			<td><img src="images/forms/info.gif" /></td>
			<td>
				<p>Please choose a page type for this item and click the Create button.</p>
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="label"><label for="id_type">Page Type:</label></td>
	<td><!-- type --></td>
</tr>
</table>
</fieldset>
<fieldset class="tbar">
<div align="right">
	<input type="submit" name="Submit" value="Create"><input type="button" name="Cancel" value="Cancel" onclick="location.href='admin.php';">
</div>
</fieldset>
</form>