<tr>
	<td class="label"><label for="id_price">Price</label></td>
	<td><input type="text" width="40" name="price" id="id_price" value="<!-- price -->" onchange="check_format(this,'decimal')"><span id="format">(599.95)</span></td>
</tr>
<tr>
	<td class="label"><label for="id_duration">Duration</label></td>
	<td><input type="text" width="40" name="duration" id="id_duration" value="<!-- duration -->"></td>
</tr>
<tr>
	<td class="label"><label for="id_course_type">Delivery Style</label></td>
	<td><input type="text" width="40" name="course_type" id="id_course_type" value="<!-- course_type -->"></td>
</tr>
<tr>
	<td class="label"><label for="id_schedule">Target Audience</label></td>
	<td><textarea class="sfield" name="target" id="id_target" rows="2" style="width:98%;"><!-- target --></textarea></td>
</tr>
<tr>
	<td class="label"><label for="id_pre_requisites">Pre-Requisites</label></td>
	<td><textarea class="sfield" name="pre_requisites" id="id_pre_requisites" rows="2" style="width:98%;"><!-- pre_requisites --></textarea></td>
</tr>
<tr>
	<td class="label"><label for="id_objectives">Objectives</label></td>
	<td><textarea class="sfield" name="objectives" id="id_objectives" rows="2" style="width:98%;"><!-- objectives --></textarea></td>
</tr>
<tr>
	<td class="label"><label for="id_assessment">Assessment</label></td>
	<td><textarea class="sfield" name="assessment" id="id_assessment" rows="2" style="width:98%;"><!-- assessment --></textarea></td>
</tr>
<tr>
	<td class="label"><label for="id_outcome">Training Outcome</label></td>
	<td><textarea class="sfield" name="outcome" id="id_outcome" rows="2" style="width:98%;"><!-- outcome --></textarea></td>
</tr>
<tr valign="top">
	<td class="label">
		<label for="id_related_courses">Related Courses</label>
	</td>
	<td>
		<!-- related_courses -->
	</td>
</tr>