<p><b>Delete Page</b><br>
</span>Are you sure you want to delete the following page?</p>
<table width="450" border="0">
<tr>
	<td class="tablehead" width="100">
		<div align="center">Title</div>
	</td>
	<td width="10">&nbsp;</td>
	<td><!-- title --></td>
</tr>
<tr>
	<td class="tablehead">
		<div align="center">Category</div>
	</td>
	<td width="10">&nbsp;</td>
	<td><!-- type --></td>
</tr>
<tr>
	<td class="tablehead">
		<div align="center">Delete?</div>
	</td>
	<td width="10">&nbsp;</td>
	<td>
		<form name="form" method="post" action="post.php">
			<input type="hidden" name="id" value="<!-- id -->">
			<input type="hidden" name="action" value="delete">
			<input type="submit" name="Submit2" value="Yes">
		</form>
	</td>
</tr>
</table>
