<p><b>Delete Order</b><br>
</span>Are you sure you want to delete the following order?</p>
<table width="450" border="0">
<tr>
	<td class="tablehead" width="100">
		<div align="center">Name</div>
	</td>
	<td width="10">&nbsp;</td>
	<td><!-- name --></td>
</tr>
<tr>
	<td class="tablehead">
		<div align="center">Date</div>
	</td>
	<td width="10">&nbsp;</td>
	<td><!-- date --></td>
</tr>
<tr>
	<td class="tablehead">
		<div align="center">Delete?</div>
	</td>
	<td width="10">&nbsp;</td>
	<td>
		<form name="form" method="post" action="orders.php">
			<input type="hidden" name="id" value="<!-- id -->">
			<input type="hidden" name="action" value="postdel">
			<input type="submit" name="Submit2" value="Yes">
		</form>
	</td>
</tr>
</table>
