<link rel="stylesheet" type="text/css" href="../css/custom.css" title="ed">
<!-- Configure the path to the editor.  We make it relative now, so that the
    example ZIP file will work anywhere, but please NOTE THAT it's better to
    have it an absolute path, such as '/htmlarea/'. -->
<script type="text/javascript">
  _editor_url = "<!-- adminbaselocation -->";
  _editor_lang = "en";
</script>

<!-- load the main HTMLArea file, this will take care of loading the CSS and
    other required core scripts. -->
<script type="text/javascript" src="htmlarea.js"></script>
<script type="text/javascript" src="getstyles.js"></script>
<!-- load the plugins -->
<script type="text/javascript">
HTMLArea.loadPlugin("CSS");
HTMLArea.loadPlugin("ContextMenu");
HTMLArea.loadPlugin("TableOperations");
</script>

<style type="text/css">
textarea { background-color: #fff; border: 1px solid #000000; width: 100%; }
</style>

<script type="text/javascript">
var editor = null;
function initEditor() {
    // create an editor for the "ta" textbox
    editor = new HTMLArea("content");
    // add a contextual menu
    editor.registerPlugin("ContextMenu");

    var config = editor.config;
    config.pageStyle = "@import url(../css/style.css);" + "@import url(../css/custom.css);";
    config.width = '700';
    config.height = '500';
		config.toolbar = [
        [ "fontname", "space",
          "fontsize", "space",
          "formatblock", "space",
          "bold", "italic", "underline", "strikethrough", "separator",
          "subscript", "superscript", "separator",
          "copy", "cut", "paste", "space", "undo", "redo" ],

        [ "justifyleft", "justifycenter", "justifyright", "justifyfull", "separator",
          "insertorderedlist", "insertunorderedlist", "outdent", "indent", "separator",
          "forecolor", "hilitecolor", "separator",
          "inserthorizontalrule", "createlink", "insertimage", "inserttable", "htmlmode"]
    ];
    
    // register the SpellChecker plugin
    editor.registerPlugin(TableOperations);
  
    /***** CSS STYLES ********/
    editor.registerPlugin(CSS,
        {combos : [
            { label: "Styles:",
              options: getStyles("ed"),
              context: "p"
            }
            ]
        });
    /***** CSS STYLES ********/

  setTimeout(function() {
    editor.generate();
  }, 500);
  return false;
}

function insertHTML() {
  var html = prompt("Enter some HTML code here");
  if (html) {
    editor.insertHTML(html);
  }
}
function highlight() {
  editor.surroundHTML('<span style="background-color: yellow">', '</span>');
}

onload = initEditor;

function addDocs(item, cont, name){
	var f=item.form;
	var oCont = document.getElementById(cont);
	var o = document.createElement("INPUT");
	o.type = "file";
	o.name = name;
	oCont.appendChild(o);
}
</script>



<form name="form" action="post.php" method="POST" enctype="multipart/form-data">
<input type="hidden" name="id" value="<!-- id -->">
<input type="hidden" name="action" value="<!-- action -->">
<input type="hidden" name="pid" value="<!-- pid -->">
<input type="hidden" name="type" value="<!-- type -->">

<table width="500" border="0" cellpadding="0" style="background-color: buttonface;border:1px outset;">
<tr>
	<td class="tablehead"><label for="id_title">Title:</label></td>
	<td><input name="title" id="id_title" type="text" size="50" value="<!-- title -->"></td>
</tr>
<tr>
	<td class="tablehead"><label for="id_keywords">Keywords:</label></td>
	<td><input name="keywords" id="id_keywords" type="text" size="100" value="<!-- keywords -->" maxlength="255"></td>
</tr>
<tr>
	<td class="tablehead"><label for="id_description">Meta Description:</label></td>
	<td><input name="description" id="id_description" type="text" size="100" value="<!-- description -->" maxlength="255"></td>
</tr>
<tr>
	<td class="tablehead"><label for="id_date">Date:</label></td>
	<td>&nbsp;<input name="date" id="id_date" value="<!-- date -->"></td>
</tr>
<tr>
	<td colspan="2">
			<table bordercolor="#9C9A9C" border="1" cellpadding="0" cellspacing="0"><tr bordercolor="#FFFFFF"><td>
			<textarea name="content" id="content"><!-- content --></textarea>
			</td></tr></table>
	</td>
</tr>
<tr valign="top">
	<td class="tablehead">
		<label for="id_userfile">Files:</label>
		<input type="button" value="Add Document" onclick="return addDocs(this, 'addDocs', 'userfile')" />
	</td>
	<td class="tabletext"> <b>Current File: </b><!-- files -->
		<br>To attach related documents to this page, Click the browse button below and select a file to upload.<br>
		<div id="addDocs">
		<input name="userfile" id="id_userfile" type="file" width="40" />
		</div>
	</td>
</tr>
<!-- extras -->
<tr>
	<td colspan="2">
		<div align="right">
			<input type="submit" name="Submit" value="Save"><input type="button" name="Cancel" value="Cancel" onclick="location.href='index.php';">
		</div>
	<td>
</tr>
</table>
</form>
