<tr>
	<td class="label"><label for="id_count_per_page">Count Per Page</label></td>
	<td><input type="text" width="40" maxlength="3" name="count_per_page" id="id_count_per_page" value="<!-- count_per_page -->"></td>
</tr>
<tr>
	<td class="label"><label for="id_thumbnails_on">Thumbnails On</label></td>
	<td><!-- thumbnails_on --></td>
</tr>
<tr>
	<td class="label"><label for="id_display_type">Display Type</label></td>
	<td><!-- display_type --></td>
</tr>
<tr>
	<td class="label"><label for="id_summary_length">Summary Length</label></td>
	<td><input type="text" width="40" maxlength="3" name="summary_length" id="id_summary_length" value="<!-- summary_length -->"></td>
</tr>