<script>
function action(mode,id){
	location.href="<!-- url -->?action="+mode+"&id="+id;
}
</script><table class="std" border="0" cellspacing="2" cellpadding="0">
<tr>
	<td width="60"><img src="images/forms/icon_48_downloads.gif" border="0"></td>
	<td><h1>Order Maintenance</h1></td>
</tr>
</table>

<fieldset class="tbar">
<table class="admin" border="0" cellspacing="2" cellpadding="0" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">View Orders</a></caption>
<tr>
	<th>ID</th>
	<th colspan="2"><div align="center"><b>Name</b></div></td>
	<th>Date</th>
	<th width="30">Edit</td>
	<th width="30">Del</td>
</tr>
<!-- rows -->
<tr>
	<th align="left" colspan="6">
		<div style="float:left;"><!-- display_count --></div>
		<div style="float:right;"><!-- display_links --></div>
	</th>
</tr>
</table>
</fieldset>
<!-- orderloop -->
<tr class="trLt" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
	<td onClick="action('view','<!-- id -->');"><!-- id --></td>
	<td onClick="action('view','<!-- id -->');"><!-- name --></td>
	<td onClick="action('view','<!-- id -->');">(<a href="mailto:<!-- email -->"><!-- email --></a>)</td>
	<td onClick="action('edit','<!-- id -->');" align="center"><!-- date --></td>
	<td align="center"><img src="templates/images/icons/edit.gif" onclick="action('view','<!-- id -->');" /></td>
	<td align="center"><img src="templates/images/icons/delete.gif" onclick="action('delflag','<!-- id -->');" /></td>
</tr>
<!-- orderloop -->

