<tr>
	<td colspan="2" style="border-bottom:1px solid #ccc;">
		<table>
		<tr>
			<td><img src="templates/images/forms/info.gif" /></td>
			<td>
				<p>Please enter a unit price for this item. </p>
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="label"><label for="id_price">Price</label></td>
	<td><input type="text" width="40" name="price" id="id_price" value="<!-- price -->"></td>
</tr>
