<table class="product" border="0" cellpadding="0">
  <tr>
    <td colspan="4" class="tablehead">Product Catalogue</td>
    <td width="30" class="tablehead"><div align="center"><a href="%3C!--%20addlink%20--%3E">add</a></div></td>
    <td width="30" class="tablehead"><div align="center"><a href="%3C!--%20editlink%20--%3E">edit</a></div></td>
    <td width="30" class="tablehead">&nbsp;</td>
  </tr>

    <!-- rows -->

  <!-- level1loop -->
  <tr>
    <td width="50">&nbsp;</td>
    <td colspan="3" class="tablehead2"><b><!-- title --></b></td>
    <td width="30" class="tablehead2"><div align="center"><b><a href="%3C!--%20addlink%20--%3E">add</a></b></div></td>
    <td width="30" class="tablehead2"><div align="center"><b><a href="%3C!--%20editlink%20--%3E">edit</a></b></div></td>
    <td width="30" class="tablehead2"><div align="center"><b><a href="%3C!--%20dellink%20--%3E">del</a></b></div></td>
  </tr>
  <!-- level1loop -->


  <!-- level2loop -->
  <tr>
    <td width="50">&nbsp;</td>
    <td width="50">&nbsp;</td>
    <td colspan="2" class="tabletext"><b><!-- title --></b></td>
    <td width="30" class="tabletext"><div align="center"><b><a href="%3C!--%20addlink%20--%3E">add</a></b></div></td>
    <td class="tabletext"><div align="center"><b><a href="%3C!--%20editlink%20--%3E">edit</a></b></div></td>
    <td class="tabletext"><div align="center"><b><a href="%3C!--%20dellink%20--%3E">del</a></b></div></td>
  </tr>
  <!-- level2loop -->
  
  <!-- level3loop -->
  <tr>
    <td width="50">&nbsp;</td>
    <td width="50">&nbsp;</td>
    <td width="50">&nbsp;</td>
    <td class="tabletext"><!-- title --></td>
    <td>&nbsp;</td>
    <td class="tabletext"><div align="center"><a href="%3C!--%20editlink%20--%3E">edit</a></div></td>
    <td class="tabletext"><div align="center"><a href="%3C!--%20dellink%20--%3E">del</a></div></td>
  </tr>
  <!-- level3loop -->

</table>
