<tr><!--'summary_length','count_per_page','thumbnails_on','display_type','price','stock','code','related_products','show_cart'-->
	<td colspan="2" style="border-bottom:1px solid #ccc;">
		<table>
		<tr>
			<td><img src="images/forms/info.gif" /></td>
			<td>
				<p>Please enter a unit price for this item. </p>
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="label"><label for="id_show_cart">Show Shopping Cart</label></td>
	<td><!-- show_cart --></td>
</tr>
<tr>
	<td class="label"><label for="id_price">Price</label></td>
	<td><input type="text" width="40" name="price" id="id_price" value="<!-- price -->"></td>
</tr>
<tr>
	<td class="label"><label for="id_stock">Stock</label></td>
	<td><input type="text" width="40" name="stock" id="id_stock" value="<!-- stock -->"></td>
</tr>
<tr valign="top">
	<td class="label">
		<label for="id_related_products">Related Products</label>
	</td>
	<td>
		<!-- related_products -->
	</td>
</tr>
<tr>
	<td class="label"><label for="id_count_per_page">Count Per Page</label></td>
	<td><input type="text" width="40" name="count_per_page" id="id_count_per_page" value="<!-- count_per_page -->"></td>
</tr>
<tr>
	<td class="label"><label for="id_thumbnails_on">Thumbnails On</label></td>
	<td><!-- thumbnails_on --></td>
</tr>
<tr>
	<td class="label"><label for="id_display_type">Display Type</label></td>
	<td><!-- display_type --></td>
</tr>
<tr>
	<td class="label"><label for="id_summary_length">Summary Length</label></td>
	<td><input type="text" width="40" name="summary_length" id="id_summary_length" value="<!-- summary_length -->"></td>
</tr>
