

<table width="100%" height="100%" style="background:#fff;">
<tr>
	<td valign="middle">
		
		<table class="admin" align="center" border="0" cellspacing="0" cellpadding="6" width="600" style="background:#fff;">
		<tr>
			<th colspan="2">
				Getting Started
			</th>
		</tr>
		<tr>
			<td colspan="2" style="border-bottom:1px solid #ccc;">
				<table>
				<tr>
					<td><img src="images/forms/info.gif" /></td>
					<td>
						<p>Managing your content as easy as clicking one of the Create New... links in the bottom right hand corner. Below are a few tips to help you get started:</p>
						<ul>
							<li><b>Adding Content:</b> Right click on an item in the explorer frame on the left hand side and choose Add Item... from the context menu</li>
							<li><b>Editing Content:</b> Click on an item in the explorer frame on the left hand side and start editing that items content and extra properties like meta keywords and description, related files etc</li>
							<li><b>Moving items:</b> Right click on an item in the explorer frame and choose copy. Navigate to new location, right click new location and choose Paste.</li>
						</ul>
					</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<th width="50%">
				Recent Pages Worked On...
			</th>
			<th width="50%">
				Create New...
			</th>
		</tr>
		<tr>
			<td style="border-right: 2px inset;">
				<!-- recent_pages_list -->
			</td>
			<td>
				<!-- create_pages_list -->
			</td>
		</tr>
		</table>
		
	</td>
</tr>
</table>



	

