<tr>
	<td colspan="2">

		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr>
			<td class="label"><label for="id_count_per_page">Count Per Page</label></td>
			<td colspan="2"><input type="text" name="count_per_page" id="id_count_per_page" value="<!-- count_per_page -->"></td>
			<td rowspan="9"><input type="hidden" name="user_image" id="id_user_image" value="<!-- user_image -->"><button id="change_user_image" onclick="editor._insertDocument(this,this.form.user_image,true);return false;"><img name="Ichange_user_image" width="100" src ="<!-- user_image -->" /></button></td>
		</tr>
		<tr>
			<td class="label"><label for="id_thumbnails_on">Thumbnails On</label></td>
			<td colspan="2"><!-- thumbnails_on --></td>
		</tr>
		<tr>
			<td class="label"><label for="id_display_type">Display Type</label></td>
			<td colspan="2"><!-- display_type --></td>
		</tr>
		<tr>
			<td class="label"><label for="id_summary_length">Summary Length</label></td>
			<td colspan="2"><input type="text" name="summary_length" id="id_summary_length" value="<!-- summary_length -->"></td>
		</tr>
		<tr>
			<td class="label"><label for="id_user_name">Full Name</label></td>
			<td colspan="2"><input type="text" name="user_name" id="id_user_name" value="<!-- user_name -->"></td>
		</tr>
		<tr>
			<td class="label"><label for="id_user_occupation">Occupation</label></td>
			<td colspan="2"><input type="text" name="user_occupation" id="id_user_occupation" value="<!-- user_occupation -->"></td>
		</tr>
		<tr>
			<td class="label"><label for="id_user_description">Description</label></td>
			<td colspan="2"><textarea class="sfield" name="user_description" id="id_user_description" rows="2" style="width:98%;"><!-- user_description --></textarea></td>
		</tr>
		<tr>
			<td class="label"><label for="id_user_contact">Contact Number</label></td>
			<td colspan="2"><input type="text" name="user_contact" id="id_user_contact" value="<!-- user_contact -->" onchange="return check_format(this,'phone');"><span id="format">((08) 9555 5555)</span></td>
		</tr>
		<tr>
			<td class="label"><label for="id_user_email">Email Address</label></td>
			<td colspan="2"><input type="text" name="user_email" id="id_user_email" value="<!-- user_email -->" onchange="return check_format(this,'email');"><span id="format">(name@domain.com.au)</span></td>
		</tr>		
		</table>
	</td>
</tr>
