<tr>
	<td class="label"><label>Image:</label></td>
	<td><div id="txt_userfile" align="left"><!-- image --></div>
		<input type="file" name="userfile[]" size="40" value="<!-- image -->" />
		<input type="hidden" name="width[]" value="<!-- width -->" />
		<input type="hidden" name="height[]" value="<!-- height -->" />
		<input type="hidden" name="tag[]" value="<!-- enctag -->" />
		<input type="hidden" name="attr[]" value="<!-- encattr -->" />
	</td>
</tr>