<form name="form" method="post" action="post.php" enctype="multipart/form-data">
<input type="hidden" name="id" value="<!-- id -->">
<input type="hidden" name="type" value="<!-- type -->">
<input type="hidden" name="action" value="upload">
<fieldset class="tbar">
<table class="admin" border="0" cellspacing="0" cellpadding="2" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Image Upload</a></caption>
<tr>
	<td colspan="2" style="border-bottom:1px solid #ccc;">
		<table>
		<tr>
			<td><img src="templates/images/forms/info.gif" /></td>
			<td>
				<p>The following images need to be uploaded For security reasons, you will be required
				to re-locate each image by clicking the browse button. Once you are done, click
				proceed. </p>
			</td>
		</tr>
		</table>
	</td>
</tr>

<!-- uploadtags -->

</table>
</fieldset>
<fieldset class="tbar">
<div align="right">
	<input type="submit" name="Submit" value="Continue">
</div>
</fieldset>
</form>