<tr valign="top">
	<td class="label">
		<label for="id_url">URL/Hyperlink</label>
	</td>
	<td>
		<!-- url -->
	</td>
</tr>
<tr>
	<td class="label"><label for="id_url_target">Target Window Name</label></td>
	<td><input type="text" width="40" name="url_target" id="id_url_target" value="<!-- target -->" onchange="this.value=this.value.replace(/\s|\:/gi,'_')"><span id="format">(name_separated_by_underscore-or-hyphen)</span></td>
</tr>

