.ezedit {}
.toolbarmain {margin:0px 0px 15px 0px;background:buttonface; }
.sep{width:2px;border:1px inset white;margin:0px 3px 0px 3px;vertical-align:middle;}
.toolbar{font:11px verdana;color:white;vertical-align:middle;}
.toolbar a, .toolbar a:link, .toolbar a:visited{display:inline;cursor:default;color:#333;text-decoration:none;border:1px solid buttonface;padding:4px; float: none;}
.toolbar a:hover, .toolbar a.down:hover {border:1px outset white;color:#666;}
.toolbar a img{border:none;cursor:default;vertical-align:middle;width:16px;height:16px;}
.toolbar a:hover img{border:none;cursor:default;vertical-align:middle;width:16px;height:16px;}
.toolbar a.pressed, .toolbar a.pressed:link, .toolbar a.pressed:visited{border:1px inset white;background:#666;color:white;}
.toolbar a.pressed:hover{border:1px inset white;}
.toolbar a.disabled, .toolbar a.disabled:link, .toolbar a.disabled:visited, .toolbar a.disabled:hover{color:#333;border:1px solid buttonface;}
.toolbar a.disabled img{filter:gray();}
.toolbar hr{border:1px inset;margin:0px 0px 0px 0px;}
.toolbar select{width: auto; margin:0px 0px 0px 0px;}
.ttcont{background:threadface;}
