/***********************************

	Default Form Styles

************************************/
FORM {
	margin: 0px;
	padding: 0px;
}
FIELDSET#body, FIELDSET.body, FIELDSET.tbar {
	width:auto;
	padding:0px;
	margin:0px;
}
/******************

	BEGIN::Admin Form header
	
*******************/
.sfield,
input.sfield, 
input.sfield_sml {
	border: 1px solid #999;
	color: #333;
	/*background:white;*/
	min-width: 200px;
}
input.sfield_lge{
	min-width: 200px;
	max-width: 100%;
	width: 100%;
}

input.sfield_sml{
	min-width: 20px;
	max-width: 80px;
	width: 50px;
}

input.sfield_disabled, input.dfield, input.dfield_clear, input.dtfield, input.tfield, input.hfield {
	border: 1px solid #999;
}
input.sfield_disabled, input.dfield, input.dtfield, input.dfield_clear, input.hfield{
	color: #333;
	background:#eee;
	cursor: pointer;
}
input.dfield, input.tfield, input.dtfield, input.dfield_clear, input.hfield{
	background-position:right;
	background-repeat:no-repeat;
}
input.dfield {
	width:110px;
	background-image:url(cal.png);
}
input.dfield_clear {
	width:24px;
	background-image:url(cal_clear.gif);
}
input.hfield {
	width:24px;
	background-image:url(helper.gif);
}
input.dtfield {
	width:160px;
	background-image:url(datetime.gif);
}
input.tfield {
	width:60px;
	background-image:url(time.gif);
}
input.ltfield { /* Linked Text Field */
	color: #0000FF;
	text-decoration: underline;
	cursor: pointer;
	width: 80%;
}
span.format, span#format {
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
	color:#999999;
	padding-left:5px;
}
textarea.sfield{
	font:11px Verdana;
	/*border:1px solid #666;*/
}
.counter {
	font:10px verdana;
	background-color:#e1e1e1;
}
.counter span.toomuch {
	font-weight:bold;
	color:red;
}
input.cfield {
	border: 1px solid #999;
	color: #333;
	background:white;
	width: auto;
}
SELECT{
	font:11px Verdana;
	/*border:1px groove;*/
	border: 1px solid #999;
}

/*
	Helper Items
*/
.h_tab_btns{
	background-color:#999;
	position:absolute;
	z-index:1;
	text-decoration: none;
}
.h_tab_btns a, .h_tab_btns a:link, .h_tab_btns a:hover, .h_tab_btns a:visited{
	background-color:#ccc;
	font:10px verdana;
	text-decoration: none;
}
.h_tab_btns a:hover{
	color: #0066FF;
}
.h_tab_btns a.selected, .h_tab_btns a.selected:hover, .h_tab_btns a.selected:link, .h_tab_btns a.selected:visited{
	background-color:#0066CC;
	font-weight:bold;
	text-decoration: none;
}
.h_tab_btns a.selected:hover{color:#fff;}
.h_tabs {
	background-color:#eee;
	position:absolute;
	z-index:100;
	top:12px;
	text-decoration: none;
}
DIV.helper INPUT {
	border-color: #999;
	border-style: solid;
	border-width: thin;
}
/*DIV.helper */
INPUT.active {
	border-color: auto;
	border-style: inset;
	border-width: thin;
}

DIV.helper IMG {
	margin: 0px 0px 0px 0px;
}