BODY, DIV,.scrollbars, #scrollbars {
	scrollbar-3dlight-color: #CCFF00;
	scrollbar-arrow-color: #660099;
	scrollbar-base-color: white;
	scrollbar-darkshadow-color: ;
	scrollbar-face-color: #CCCC00;
	scrollbar-highlight-color: #660099;
	scrollbar-shadow-color: #660099;
	scrollbar-track-color: #fff;
	border:none;
	/*background-color: #FFCC00 #CCFF00 #CCCC00 #660099*/
}
/* DEFAULT CSS RULES */
td, p, body {
	font-family: verdana, arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 13pt;
	color: #000000;
	word-spacing: 0;
}
p.news{margin-top:2px;}
h1,h2 {
	color: #990000;
}
h2{margin:2px;}
h3,h4 {
	color: #CC9900;
}
h4{margin:2px;}
h5,h6 {
	color: #CCCC00;
}
h6{margin:2px;}
#logo{display:none;}
/* END::DEFAULT CSS RULES */

form#id_searchform {
	display: inline; 
	float:right; 
	padding: 0px;
	margin:0px;
}
td.head {
	font: 15px tahoma, verdana;
	color: #990000;
}
table.product {
	width:50%;
	border:0;
	cursor: default;
}
.highlight {
	background-color: #B8C0CF;
}
a {
	color: Blue;
}
#cart {
	width: 180px;
	border: 1px solid #ccc;
	margin: 2px;
}
.cart {
	/*font:10px verdana, arial, Helvetica, sans-serif;*/
	color: #000000;
	padding: 2px;
}
.carthead {
	font-weight:bold;
	background-color: #660066;
	color: #fff;
}
.search {
	font-family: verdana, arial, Helvetica, "ms sans serif", sans-serif;
	font-size: 9pt;
	font-height: 20pt;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1;
	margin-top: 2px;
}

/* DEFAULT CMS RULES */
#title, .title, #pghead {
	margin:2px;
}
#pgsubhead, {
	margin-top: 0px;
	font-weight: bold;
	color:#999;
}
#summary, .summary {
	margin-top: 0px;
}


/* HEADER CLASSES */
#headerTabNav, .headerTabNav {
	background: #660066 top repeat-x;
	height: 30px !important;
	text-align:right;
}
TR.header {
  background: #ffffff;
}

TR.headerNavigation {
  background: #FFCC00;
}

TD.headerNavigation, .headerNavigation {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #ffcc00;
  color: #660066;
  font-weight : bold;
	padding: 5px;
}
.headerNavigation a, .headerNavigation a:link, .headerNavigation a:visited {
	color: #fff;
	text-decoration: underline;
}
.headerNavigation a:hover {
	color: #fff;
	text-decoration: none;
}

TD.headerUtilities {
  font-family: Arial, sans-serif;
  font-size: 10px;
  background: #92CB61;
  color: #ffffff;
	border:1px solid black;
}
A.headerUtilities { 
  color: #fff;
}

A.headerUtilities:hover {
  color: #fff;
	background-color:#ffcc00;
	text-decoration:none;
}

A.headerNavigation { 
  color: #FFFFFF; 
	text-decoration: none;
}

A.headerNavigation:hover {
  color: #ffffff;
}

/* BOX TABLE CLASSES */
TABLE.box {
	font: 11px Verdana;
	border: 1px solid #ccc;
	background: #fff;
}
TABLE.box TD.hdr {
	font-weight: bolder;
	color: #fff;
	background-color: #CCCC00; 
}
TABLE.box TD.body {
	font-size: 11px;
}

/* BODY/CONTAINER CLASSES */
#block_body {
	width: 100%;
	float: none;
	display: block;
	margin: 5px 0px;
}
#column_left {
	width: 180px;
	border-right:1px solid #ccc;
}
#column_body {
	float:left;
	display: inline;
	/*width: 55%;*/
	padding: 10px;
	margin: 0px 5px 5px 5px;
}
#column_right {
	width: 180px;
	margin: 0px 5px 5px 5px;
}

/* ANCHOR LINK BUTTON CLASSES */
#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	text-decoration: none;
	font-weight: normal;
	font-size:10px;
	padding: 3px 0px 3px 5px;
	color:#000000;
}
#sectionLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #ccc;/*#E5F0FA;*/
	color: white;/*#6699CC;*/
	font-weight: bold;
	text-decoration: none;
}
#sectionLinks a.sub:link, #sectionLinks a.sub:visited {
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	font-weight: normal;
	font-size:9px;
	padding: 3px 0px 3px 3px;
	color:#000000;
	background-color: #ccc;/*#E5F0FA;*/
}
#sectionLinks a.sub:hover{
	border-top: 1px solid #cccccc;
	background-color: #85A0C2;
	color:#6699CC;
	text-decoration: none;
}
#footerLinks, #footerLinks a, #footerLinks a:visited {
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}
#footerLinks a:hover {
	color:#3366CC;
}