/***********************************

	TOOLBAR Styles

************************************/
BODY, DIV,.scrollbars, #scrollbars {
	scrollbar-3dlight-color: #ccc;
	scrollbar-arrow-color: #000;
	scrollbar-base-color: white;
	scrollbar-darkshadow-color: #666;
	scrollbar-face-color: #999;
	scrollbar-highlight-color: #666;
	scrollbar-shadow-color: #666;
	scrollbar-track-color: #ccc;
}

BODY.tb{
	font:11px verdana;
	border:none;
	background:buttonface;
	margin:0px;
}
A, A:link {
	text-decoration:none;
	color:#000;
}
A:hover, A:visited {
	text-decoration:underline;
	color:#666;
}
TD{
	font:11px verdana;
	color:#333333;
}
FORM {
	margin: 0px;
	padding: 0px;
}
FIELDSET#body, FIELDSET.body, FIELDSET.tbar, FIELDSET.search {
	background:buttonface;
	width:auto;
	padding:0px;
	margin:0px;
}
LEGEND {
	font: bold 11px Tahoma, Verdana, Arial;
}
#bar, .bar, #bar_large, .bar_large, .tool_bar, #tool_bar {
	font: 11px Verdana;
	color:#000000;
	width:auto;
	background:buttonface;
	padding:0px;
	margin:0px;
}
.bar a.indent{
	background-color:#999999;
	border-width:1px;
}
.tool_bar_c, #tool_bar_c {
	position: fixed;
	/* MSIE hack - fixed is not supported by IE4 - 6
	 * <http://www.fczbkk.com> */
	position: expression("absolute");
	top: expression(document.body.scrollTop + this.offsetHeight - this.offsetHeight);

	display: block;
	width:100%;
}
FIELDSET.search{
	
}
#bar a, .bar a, #bar a:visited, .bar a:visited, .tool_bar a, #tool_bar a, .tool_bar a:visited, #tool_bar a:visited {
	display: block;
	color:#000000;
	float: left;
	background-repeat: no-repeat;
	background-position: left;
	border: 1px solid buttonface;
	padding: 5px 5px 5px 23px;
	text-decoration: none;
}
#bar_large a, .bar_large a, #bar_large a:visited, .bar_large a:visited {
	display: block;
	color:#000000;
	float: left;
	background-repeat: no-repeat;
	background-position: top;
	border: 1px solid buttonface;
	padding: 23px 5px 5px 5px;
	text-decoration: none;
}
#bar a:hover, #bar_large a:hover, .bar a:hover, .bar_large a:hover, .tool_bar a:hover, #tool_bar a:hover {
	border-top: 1px solid buttonhighlight;	
	border-left: 1px solid buttonhighlight;	
	border-bottom: 1px solid buttonshadow; 
	border-right: 1px solid buttonshadow;
	text-decoration: none;
}
#bar span.sep, .bar span.sep, .tool_bar span.sep, #tool_bar span.sep {
	border-right:1px solid buttonhighlight;
	border-left:1px solid buttonshadow;
	width:1px;
	margin:0px 2px; 
	padding:5px 0px;
}
#tog, .tog {
	padding:0px;
	font: bold 12px Tahoma, Verdana, Arial;
	color: #333333;
}
#tog a, .tog a, #tog a:visited, .tog a:visited {
	display: block;
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid buttonface;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	cursor: default;
}
#tog a:hover, .tog a:hover, #tog a.search:hover, .tog a.search:hover {
	border-top: 1px solid buttonhighlight;	
	border-left: 1px solid buttonhighlight;	
	border-bottom: 1px solid buttonshadow; 
	border-right: 1px solid buttonshadow;
}	
#tog a.search, .tog a.search, #tog a.search:visited, .tog a.search:visited {
	display: block;
	background-image:url(icons/btn_search_bg.gif);
	background-repeat: no-repeat;
	background-position: left;
	border: 1px solid buttonface;
	padding: 5px 5px 5px 30px;
	text-decoration: none;
	cursor: pointer;
}
#flag {
	font: 11px verdana;
}
#waitingRoom {
	display: none;
}
/*******************
	
	BEGIN::Admin Form styles
	
********************/
A.splitPageLink { /*, DIV.normal a.splitPageLink, DIV.normal a.splitPageLink:link {*/
	width:auto;
	display: inline;
}
A.splitPageLink:hover { /*, DIV.normal a.splitPageLink, DIV.normal a.splitPageLink:link {*/
	background-color: #999999;
	color: #fff;
}
TABLE.admin{
	font:10px verdana;
	border:1px solid;
	color:#333333;
	background:#cccccc;
	text-decoration:none;
}
TABLE.admin CAPTION, .adminHdr {
	font:bolder 13px Tahoma;
	border-bottom:1px solid;
	background: buttonface;
	color:#333333;
	vertical-align: bottom;
	text-align:left;
	text-decoration:none;
	width:100%;
}
TABLE.admin CAPTION A, TABLE.admin CAPTION A:link, TABLE.admin CAPTION A:visited {
	display: block;
	float: none;
	font:bolder 13px Tahoma;
	text-decoration:none;
}
TABLE.admin tr{
	vertical-align: top;
}
TABLE.admin tr.heading{
	background: #C9C9C9;
}
.infoBoxContent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; background-color: #ccc; }
.selected { background-color: #ccc; }
/* BEGIN::ROLLOVERS AND STUFF */
/* BEGIN::TABLE mail headers */
TABLE.admin th, .infoBoxHeading {
	font:bold 11px Verdana;
	background: buttonface;
	text-align: left;
	border-bottom: 1px solid buttonshadow;
}
TABLE.admin tr th a:link, TABLE.admin tr th a:visited{
	font-weight:bold;
	display: block;
	float: none;
	border:1px solid buttonface;
	text-decoration:none;
	height: 100%;
}
TABLE.admin tr th a:hover{
	border:1px outset;
	text-decoration: none;
}
/* END::TABLE mail headers */
TABLE.admin tr.trDk{
	background:#eaeaea;
}
TABLE.admin tr.trLt{
	background:#fcfcfc;
}
TABLE.admin tr.trOVER{
	background:#ccccff;
}
TABLE.admin tr.trPRESSED, TABLE.admin tr.trPRESSED a, TABLE.admin tr.trPRESSED a:visited, TABLE.admin tr.trPRESSED a:hover{
	background:#9999cc;
	color:#fff;
	border: none;
	padding: 0px;
}
TABLE.admin tr.trREAD, TABLE.admin tr.trREAD a, TABLE.admin tr.trREAD a:visited, TABLE.admin tr.trREAD a:hover{
	font-weight:normal;
	background:#cacaca;
	color:#fff;
	border: none;
	padding: 5px;
}
TABLE.admin A:link {
	text-decoration:none;
	color:#000;
	border: none;
	padding: 5px;
}
TABLE.admin A:hover {
	border: none;
}
TABLE.admin td A:hover, TABLE.admin td A:visited {
	text-decoration:underline;
	color:#666666;
	border: none;
	padding: 5px;
}
/* END::ROLLOVERS AND STUFF */
TABLE.admin TD{
	font-size: 11px;
	cursor: default;
}

TABLE.admin TD.header{
	font:bolder 13px Tahoma;
	border-bottom:1px solid;
	background: buttonface;
	color:#333333;
	vertical-align: bottom;
	text-align:left;
	text-decoration:none;
	width:100%;
}
TABLE.admin TD.label{
	width: 15%;
	border: none;
	padding: 5px;
	text-align: right;
	background-color: #fff;
	background-image:url(images/label.jpg);
	background-position:right;
	background-repeat:repeat-y;
	/*color: white;*/
}
TABLE.admin TD.value{
	border:none;
	background:#FFF;
	padding:5px;
	text-align:left;
}
TABLE.admin TD.buttons{
	border:none;
	background:buttonface;
	padding:10px;
}
TABLE.admin TD LABEL {
	display: block;
	border: none;
	font:bold 11px Verdana, Arial,"Courier New";
	text-align: right;
	color: #333;
}

TABLE.admin TD LABEL.normal {
	display: inline;
	border: none;
	text-align: left;
	color: #333;
}
TABLE.admin TD LABEL.bold {
	display: inline;
	border: none;
	font-weight:bold;
	text-align: left;
	color: #fff;
}
TABLE.admin TD.label LABEL {
	/*color: white;*/
}
TABLE.admin TD INPUT.sml{
	width:auto;height:auto;
	border:1px solid #333;
}
TABLE.admin TD SELECT.sml{
	width:auto;height:auto;
}
/* default form style */
.sfield {
	border: 1px solid #999;
	color: #333;
	min-width: 200px;
	font:11px Verdana;
}

/* SEARCH RESULT TABLE STYLES*/
TABLE.results {
	border: 1px solid #999;
}
TABLE.results TD{
	border-left: 1px solid #999;
}

/* ANCHOR LINK BUTTON CLASSES */
#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	text-decoration: none;
	font-weight: normal;
	font-size:10px;
	padding: 3px 0px 3px 5px;
	color:#000000;
}
#sectionLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #ccc;/*#E5F0FA;*/
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
/*******************
	
	END::Admin Form styles
	
********************/

/*********************************************
DEFINE CLASSES
**********************************************/
/* message stack classes */
.messageStackError, 
.messageStackWarning, 
.messageStackSuccess,
.messageStackInfo { border: 1px dashed #ccc; padding-left: 20px; background-position:left; background-repeat:no-repeat; font: bold 12px Verdana, Arial, sans-serif;}
.messageStackError { background-image: url(icons/error_sml.gif);}
.messageStackWarning { background-image: url(icons/warn_sml.gif);}
.messageStackSuccess { background-image: url(icons/success_sml.gif);}
.messageStackInfo { background-image: url(icons/info_sml.gif);}
.messageStackError span { display: block; padding: 3px; color: #FF0000;}
.messageStackWarning span { display: block; padding: 3px;}
.messageStackSuccess span { display: block; padding: 3px; color: #009900;}
.messageStackInfo span { display: block; padding: 3px; color: #D9B9FD;}
.copyright{
	border:1px solid #666;
	font: 10px Tahoma, Verdana;
	padding: 3px;
	background: #ccc;
}

