<br>
<table width="100%" border="1" cellpadding="5" cellspacing="0">
  <tr>
    <td colspan="4" class="searchHeader"><strong>Search for PCR </strong></td>
  </tr>
  <tr >
    <td width="16%" class="normalLabel">PCR No.:</td>
    <td width="35%"><input type="text" name="PCR_DisplayId" size="10" class="inputTextBox" value="" onchange1="if(isNaN(this.value)){this.value='';alert('Please enter a valid number into the Action Number field');}">
    </td>
    <td width="15%" class="normalLabel">Criticality:</td>
    <td><select name="ImpactLevel_Id" class="inputTextBox">
        <option value="all"></option>
        <option value="573" >NC</option>
        <option value="571" >PC</option>
        <option value="572" >QC</option>
        <option value="570" >TC</option>
      </select>
    </td>
  </tr>
  <tr >
    <td class="normalLabel">Originator:</td>
    <td><input type="text" name="OrigId" size="5" onChange="NameFilter(OrigId, Originator_Id)" class="inputTextBox">
      <select name="Originator_Id" class="inputTextBox">
        <option value="all"></option>
        <script>
			  document.write(ReadAllEmps());
		</script>
      </select>
    </td>
    <td class="normalLabel">Area:</td>
    <td><input name="Area_Id" type="text" class="inputTextBox" id="Area_Id" onChange="if(isNaN(this.value)){this.value='';alert('Please enter a valid number into the Action Number field');}" size="10">
    </td>
  </tr>
  <tr >
    <td class="normalLabel">Site:</td>
    <td><select name="Site_Id" class="inputTextBox" onChange="GetSearchDepartments('Site_Id','Department_Id')">
        <option value="all"></option>
        <option value="2" >Bentley</option>
        <option value="5" >Chandala</option>
        <option value="1" >Cooljarloo</option>
        <option value="3" >Kwinana</option>
      </select>
      <input name="Site_free_text" type="text" class="inputTextBox" id="Site_free_text" size="10">
    </td>
    <td class="normalLabel">Department:</td>
    <td><select class="inputTextBox" name="Department_Id" onChange="GetSearchSections('Department_Id','Section_Id')">
        <option value="all"></option>
        <option value="999" >BE-ACCOUNTING</option>
        <option value="1000" >BE-COMMERCIAL SERVICES</option>
        <option value="1001" >BE-CORPORATE SERVICES</option>
        <option value="1099" >BE-HR & ORG. DEVELOPMENT</option>
        <option value="1259" >BE-HUMAN RESOURCES</option>
        <option value="1002" >BE-INFO. SERVICES</option>
        <option value="2" >BE-No Dept</option>
        <option value="1279" >BE-SALES</option>
        <option value="1003" >BE-SALES</option>
        <option value="22" >Boral</option>
        <option value="24" >Brambles</option>
        <option value="1059" >CH-COMMERCIAL SERVICES</option>
        <option value="1319" >CH-ENGINEERING</option>
        <option value="1004" >CH-ENVIRONMENT</option>
        <option value="1005" >CH-FINANCE</option>
        <option value="1008" >CH-MANAGEMENT</option>
        <option value="5" >CH-No-Dept</option>
        <option value="1006" >CH-OPERATIONS</option>
        <option value="1007" >CH-SAFETY & HUMAN RESOURCES</option>
        <option value="1014" >CO - ADMINISTRATION</option>
        <option value="1220" >CO - PRODUCTION</option>
        <option value="1082" >CO - SAFETY, HEALTH & ENVIROMENT</option>
        <option value="1159" >CO-ADMINISTRATION</option>
        <option value="1009" >CO-ENVIRONMENT</option>
        <option value="1139" >CO-MAINTENANCE</option>
        <option value="1010" >CO-MINING</option>
        <option value="1015" >CO-MINING</option>
        <option value="1140" >CO-NORTH PRODUCTION</option>
        <option value="1" >CO-No Dept</option>
        <option value="1011" >CO-OPERATIONS</option>
        <option value="1012" >CO-PLANNING</option>
        <option value="1013" >CO-SAFETY</option>
        <option value="1141" >CO-SOUTH PRODUCTION</option>
        <option value="25" >Eurest</option>
        <option value="1016" >PI-ADMIN</option>
        <option value="1199" >PI-BUSINESS IMPROVEMENT</option>
        <option value="1239" >PI-FINANCE/COMMERCIAL</option>
        <option value="1017" >PI-GM</option>
        <option value="1240" >PI-HSE & EXTERNAL AFFAIRS</option>
        <option value="1179" >PI-LOSS PREVENTION</option>
        <option value="3" >PI-No Dept</option>
        <option value="1019" >PI-OPERATIONS</option>
        <option value="1200" >PI-OPS AREA 1</option>
        <option value="1219" >PI-OPS AREA 2</option>
        <option value="1020" >PI-PROCESS TECHNOLOGY</option>
        <option value="1021" >PI-TECH & ENG</option>
        <option value="1018" >PIGMENT - LOSS PREVENT & COMMUNITY</option>
        <option value="1119" >PM&D-DEVELOPMENT</option>
        <option value="1120" >PM&D-MANAGEMENT</option>
        <option value="1122" >PM&D-PROCESS CONTROL</option>
        <option value="1121" >PM&D-PROCESSING</option>
        <option value="1022" >SS-TECHNICAL SERVICES</option>
      </select>
    </td>
  </tr>
  <tr  >
    <td class="normalLabel">Section:</td>
    <td><select class="inputTextBox" name="Section_Id">
        <option value="all"></option>
        <option value="1" >BE-LOGISTICS</option>
        <option value="2" >CH-LOGISTICS</option>
        <option value="101" >CH-LOGISTICS</option>
        <option value="3" >CH-MAINTENANCE</option>
        <option value="4" >CH-PRODUCTION</option>
        <option value="5" >CH-SUPPLY</option>
        <option value="61" >CO - MAINTENANCE</option>
        <option value="6" >CO-MAINTENANCE</option>
        <option value="7" >CO-NORTH PRODUCTION</option>
        <option value="62" >CO-NORTH PRODUCTION</option>
        <option value="8" >CO-SOUTH PRODUCTION</option>
        <option value="41" >CO-SUPPLY</option>
        <option value="9" >CO-SUPPORT SERVICES</option>
        <option value="181" >CO-SUPPORT SERVICES</option>
        <option value="10" >PI-ACCOUNTING</option>
        <option value="102" >PI-ACCOUNTING</option>
        <option value="11" >PI-ELECTRICAL SERVICES</option>
        <option value="12" >PI-ENGINEERING</option>
        <option value="22" >PI-ENGINEERING PROJECTS</option>
        <option value="121" >PI-ENGINEERING PROJECTS</option>
        <option value="13" >PI-ENVIRONMENT</option>
        <option value="103" >PI-ENVIRONMENT & EA</option>
        <option value="14" >PI-LABORATORY</option>
        <option value="16" >PI-MAINTENANCE AREA 1</option>
        <option value="104" >PI-MAINTENANCE AREA 1</option>
        <option value="17" >PI-MAINTENANCE AREA 2</option>
        <option value="105" >PI-MAINTENANCE AREA 2</option>
        <option value="15" >PI-MECHANICAL SERVICES</option>
        <option value="18" >PI-PROCUREMENT</option>
        <option value="141" >PI-PROCUREMENT</option>
        <option value="106" >PI-PROCUREMENT</option>
        <option value="19" >PI-PRODUCTION AREA 1</option>
        <option value="20" >PI-PRODUCTION AREA 1</option>
        <option value="21" >PI-PRODUCTION AREA 2</option>
        <option value="107" >PI-PRODUCTION AREA 2</option>
        <option value="23" >PI-SAFETY</option>
        <option value="108" >PI-SAFETY</option>
        <option value="24" >PI-SYSTEMS & TRAINING</option>
        <option value="109" >PI-SYSTEMS & TRAINING</option>
        <option value="81" >PI-WAREHOUSE</option>
        <option value="142" >PI-WAREHOUSE</option>
        <option value="161" >PIGMENT - SAFETY</option>
      </select>
    </td>
    <td class="normalLabel">PCR Status:</td>
    <td><select name="PCRStatus" class="inputTextBox">
        <option value="all"></option>
        <option value="Open" >Open</option>
        <option value="Closed - performed" >Closed - performed</option>
        <option value="Closed - not performed" >Closed - not performed</option>
      </select>
    </td>
  </tr>
  <tr >
    <td class="normalLabel">Type of Change:</td>
    <td><select class="inputTextBox" name="TypeOfChange">
        <option value="all"></option>
        <option value="575" >Change Type 1</option>
        <option value="576" >Change Type 2</option>
        <option value="577" >Change Type 3</option>
      </select>
    </td>
    <td class="normalLabel">Type of PCR:</td>
    <td><select name="TypeOfPCR" class="inputTextBox">
        <option value="all"></option>
        <option  value="Emergency">Emergency</option>
        <option  value="Permanent">Permanent</option>
        <option  value="Trial">Trial</option>
      </select>
    </td>
  </tr>
  <tr valign="bottom" >
    <td class="normalLabel">Equipment No:</td>
    <td class="normal"><input type="text" name="Equipment_No" size="10" class="inputTextBox" value="" >
    </td>
    <td class="normalLabel">TCP:</td>
    <td class="normal"><input type="radio" name="TCP" id="id_TCP_yes" class="inputTextBox"  value="Yes">
      <label for="id_TCP_yes">Yes</label>
      <input type="radio" name="TCP" id="id_TCP_no" class="inputTextBox"  value="No">
      <label for="id_TCP_no">No</label>
    </td>
  </tr>
  <tr valign="bottom" >
    <td class="normalLabel">Due Date From: <span class="normal">(dd/mm/yyyy)</span></td>
    <td class="normal"><input type="text" name="Due_Date_From" size="20" class="inputTextBox" value="" onFocus="this.blur()">
      <A HREF="#" onClick="callCalendar('anchor1','Due_Date_From');" NAME="anchor1" ID="anchor1"><img id="Calender_1" src="images/calendar2.jpg" height="31" align="absmiddle" border="0"></a> </td>
    <td class="normalLabel">Due Date To: <span class="normal">(dd/mm/yyyy)</span></td>
    <td class="normal"><input type="text" name="Due_Date_To" size="20" class="inputTextBox" value="" onFocus="this.blur()">
      <A HREF="#" onClick="callCalendar('anchor2','Due_Date_To');" NAME="anchor2" ID="anchor2"><img id="Calender_1" src="images/calendar2.jpg" height="31" align="absmiddle" border="0"></a> </td>
  </tr>
  <tr valign="bottom" >
    <td class="normalLabel">Entered Date From: <span class="normal">(dd/mm/yyyy)</span></td>
    <td class="normal"><input type="text" name="Entered_Date_From" size="20" class="inputTextBox" value="" onFocus="this.blur()">
      <A HREF="#" onClick="callCalendar('anchor3','Entered_Date_From');" NAME="anchor3" ID="anchor3"><img id="Calender_1" src="images/calendar2.jpg" height="31" align="absmiddle" border="0"></a> </td>
    <td class="normalLabel">Entered Date To: <span class="normal">(dd/mm/yyyy)</span></td>
    <td class="normal"><input type="text" name="Entered_Date_To" size="20" class="inputTextBox" value="" onFocus="this.blur()">
      <A HREF="#" onClick="callCalendar('anchor4','Entered_Date_To');" NAME="anchor4" ID="anchor4"><img id="Calender_1" src="images/calendar2.jpg" height="31" align="absmiddle" border="0"></a> </td>
  </tr>
  <tr>
    <td colspan="4"><input class="Button" type="submit" name="Search" value="Search" onClick="MMDWFixNSubmit()">
      <INPUT type="button" name="New_PCR" value="New PCR" class="Button" onClick="MM_goToURL('self','PCRDetailsNew.asp?');return document.MM_returnValue">
    </td>
  </tr>
</table>
