<fieldset class="tbar">
<table class="admin" border="0" cellspacing="2" cellpadding="0" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Order Items</a></caption>
<!-- items -->
<tr>
	<td colspan="3"><div align="right"><b>Subtotal</b></div></td>
	<td>&nbsp;</td>
	<td width="50" class="cart"><div align="right"><b>$<!-- subtotal --></b></div></td>
</tr>
</table>

<!-- itemsloop -->
<tr>
	<td><div align="left"><!-- qty --> x <b><!-- name --></b> @ <!-- price --> </div></td>
	<td colspan="3">&nbsp;</td>
	<td width="50"><div align="right">$<!-- total --></div></td>
</tr>
<!-- itemsloop -->
