
<table class="std" border="0" cellspacing="2" cellpadding="0">
<tr>
	<td width="60"><img src="images/forms/icon_48_globe.gif" border="0"></td>
	<td><h1>Content Maintenance</h1></td>
</tr>
</table>

<!-- Border -->
<table class="admin" border="0" cellspacing="2" cellpadding="0" width="100%" style="background:#fff;">
<tr>
	<td>

<!-- cmsadmin -->

	</td>
</tr>
</table>
<!-- border -->
