<form name="form" method="post" action="users.php">
<input type="hidden" name="id" value="<!-- id -->">
<input type="hidden" name="action" value="<!-- action -->">
<fieldset class="tbar">
<table class="admin" border="0" cellspacing="0" cellpadding="2" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Delete User</a></caption>
<tr>
	<td colspan="2" style="border-bottom:1px solid #ccc;">
		<table>
		<tr>
			<td><img src="templates/images/forms/warn.gif" /></td>
			<td>
				<p>Are you sure you want to delete the following user?</p>
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="label"><label for="id_name">Name:</label></td>
	<td><!-- name --></td>
</tr>
<tr>
	<td class="label"><label for="id_email">Email:</label></td>
	<td><!-- email --></td>
</tr>
</table>
</fieldset>
<fieldset class="tbar">
<div align="right">
	<input type="submit" name="Submit" value="Delete"><input type="button" name="Cancel" value="Cancel" onclick="history.back();">
</div>
</fieldset>
</form>