<fieldset class="tbar">
<table class="admin" border="0" cellspacing="0" cellpadding="0" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Email Section</a></caption>
<tr valign="top">
	<td colspan="2">
		<fieldset class="tbar" style="background:#fff;font-weight:normal;">
			<img src="images/forms/info.gif" title="Information" align="left" style="margin:0px 10px 10px 0px;" />
			You are about to send this <!-- type --> item to all users in the selected groups.
			 Are you sure you want to send email to subscribed users?
		</fieldset>
	</td>
</tr>
<tr valign="middle">
	<td class="label"><label for="id_title">Title:</label></td>
	<td><!-- title --></td>
</tr>
<tr valign="middle">
	<td class="label"><label for="id_type">Category:</label></td>
	<td><!-- type --></td>
</tr>
<tr valign="middle">
	<td class="label"><label for="id_email">Email Body:</label></td>
	<td><!-- content --></td>
</tr>
</table>
</fieldset>
<fieldset class="tbar">
	<div align="right">
		<form name="form" method="post" action="post.php">
			<input type="hidden" name="id" value="<!-- id -->"/>
			<input type="hidden" name="action" value="email"/>
			<input type="submit" name="Submit" value="Send"/><input type="button" onclick="location.href='index.php'" value="Cancel"/>
		</form>
	</div>
</fieldset>