<fieldset class="tbar">
<table class="admin" border="0" cellspacing="2" cellpadding="0" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">News</a></caption>
<tr>
	<th>&nbsp;&nbsp;News Home Page</th>
	<th width="30"><div align="center"><a href="%3C!--%20addlink%20--%3E">add</a></div></th>
	<th width="30"><div align="center"><a href="%3C!--%20editlink%20--%3E">edit</a></div></th>
	<th width="30">&nbsp;</th>
</tr>
</table>
</fieldset>
<fieldset class="tbar">
<!-- rows -->

<!-- newsloop -->
<table class="news" border="0" cellpadding="0">
<tr onMouseOver="Javascript:this.className='highlight';" onMouseOut="Javascript:this.className='';">
	<td onClick="Javascript:top.location.href='<!-- editlink -->'">
	<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td width="50">&nbsp;</td>
		<td width="150"><!-- date --></td>
		<td><!-- title --></td>
	</tr>
	</table></td>
	<td width="30" class="tabletext"><div align="center"><b><a href="%3C!--%20emaillink%20--%3E">email</a></b></div></td>
	<td width="30" class="tabletext"><div align="center"><b><a href="%3C!--%20editlink%20--%3E">edit</a></b></div></td>
	<td width="30" class="tabletext"><div align="center"><b><a href="%3C!--%20dellink%20--%3E">X</a></b></div></td>
</tr>
</table>
<!-- newsloop -->

</fieldset>
<p>&nbsp;</p>
