<fieldset class="tbar">
<table class="admin" border="0" cellspacing="2" cellpadding="0" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Products Catalogue</a></caption>
<tr>
	<th colspan="<!-- colspan -->">Products Home</th>
	<th width="30"><div align="center"><a href="%3C!--%20addlink%20--%3E">add</a></div></th>
	<th width="30"><div align="center"><a href="%3C!--%20editlink%20--%3E">edit</a></div></th>
	<th width="30">&nbsp;</th>
</tr>
</table>
</fieldset>
<fieldset class="tbar">
<!-- rows -->

<!-- loop -->
<table class="product" border="0" cellpadding="0">
<tr bgcolor="<!-- colour -->" onMouseOver="this.className='highlight';" onMouseOut="this.className='';">
	<td class="tabletext" onClick="top.location.href='<!-- editlink -->'"><b><!-- title --></b></td>
	<td width="30" class="tabletext"><div align="center"><b><a href="%3C!--%20addlink%20--%3E">add</a></b></div></td>
	<td width="30" class="tabletext"><div align="center"><b><a href="%3C!--%20editlink%20--%3E">edit</a></b></div></td>
	<td width="30" class="tabletext"><div align="center"><b><a href="%3C!--%20dellink%20--%3E">X</a></b></div></td>
</tr>
</table>
<!-- loop -->

</fieldset>
<p>&nbsp;</p>
