<tr>
	<td class="label"><label for="id_protected">Protect:</label></td>
	<td><input class="nostyle" type="checkbox" name="protected" id="id_protected" value="1"<!-- protected -->><label for="id_protected" style="display:inline;font-weight:normal">Check this box to only allow members to view this page</label></td>
</tr>
