<script>
function updateStatus(){
	document.forms['update'].submit();
}
</script><fieldset class="bar">
<a
	title="List Current Orders"
	href="orders.php"
	style="background-image:url(images/icons/orders.gif);">Orders</a>
<a
	title="Update Orders Status"
	href="javascript:updateStatus();"
	style="background-image:url(images/icons/save.gif);">Update Status</a>
</fieldset>
<!-- shoppingcart -->

<form name="update" action="orders.php" method="post">
<input type="hidden" name="action" value="update_status" />
<input type="hidden" name="id" value="<!-- id -->" />
<table class="admin" border="0" cellspacing="2" cellpadding="0" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Order Information</a></caption>
<tr>
	<td width="100"><div align="right"><b>Date</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- date -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Order ID</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- id -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Status</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- status --><input type="submit" name="Submit" value="Update" />
	</td>
</tr>
</table>
</form>
<table class="admin" border="0" cellspacing="2" cellpadding="0" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Personal Details</a></caption>
<tr>
	<td width="100"><div align="right"><b>Name</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- name -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Email</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- email -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Company</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- company -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Phone</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- phone -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Mobile</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- mobile -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Address</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- address -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Suburb</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- suburb -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Postcode</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- postcode -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>State</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- state -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Country</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- country -->
	</td>
</tr>
</table>

<table class="admin" border="0" cellspacing="2" cellpadding="0" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Payment Details</a></caption>
<tr>
	<td width="100"><div align="right"><b>Card Holder Name</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- ccname -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Card Type</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- cctype -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Card Number</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- ccnum -->
	</td>
</tr>
<tr>
	<td width="100"><div align="right"><b>Expiry</b></div></td>
	<td width="30">&nbsp;</td>
	<td>&nbsp;
		<!-- expiry -->
	</td>
</tr>
</table>
