<tr>
	<td class="label"><label for="id_cal_type">Type</label></td>
	<td><input type="hidden" name="cal_id" value="<!-- cal_id -->" /><!-- cal_type --></td>
</tr>
<tr>
	<td class="label"><label for="id_cal_end_date_d">Date and Time</label></td>
	<td><!-- cal_end_date --></td>
</tr>
<tr>
	<td class="label"><label for="id_cal_location">Location</label></td>
	<td><textarea class="sfield" name="cal_location" id="id_cal_location" rows="2" style="width:98%;"><!-- cal_location --></textarea></td>
</tr>
<tr>
	<td class="label"><label for="id_cal_address">Address</label></td>
	<td><textarea class="sfield" name="cal_address" id="id_cal_address" rows="2" style="width:98%;"><!-- cal_address --></textarea></td>
</tr>
<tr>
	<td class="label"><label for="id_cal_city">City</label></td>
	<td><input class="sfield" type="text" width="40" name="cal_city" id="id_cal_city" value="<!-- cal_city -->" /></td>
</tr>
<tr>
	<td class="label"><label for="id_cal_state">State</label></td>
	<td><input class="sfield" type="text" width="40" name="cal_state" id="id_cal_state" value="<!-- cal_state -->" /></td>
</tr>
<tr>
	<td class="label"><label for="id_cal_post_code">Post Code</label></td>
	<td><input class="sfield" type="text" width="40" name="cal_post_code" id="id_cal_post_code" value="<!-- cal_post_code -->" onchange="check_format(this,'postcode')"><span id="format">(6005)</span></td>
</tr>
<tr valign="top">
	<td class="label">
		<label for="id_cal_url">URL</label>
	</td>
	<td>
		<!-- cal_url -->
	</td>
</tr>
<tr>
	<td class="label"><label for="id_cal_comment">Comment</label></td>
	<td><textarea class="sfield" name="cal_comment" id="id_cal_comment" rows="2" style="width:98%;"><!-- cal_comment --></textarea></td>
</tr>