<script>
function action_archived(mode,id){
	location.href="<!-- url -->?action="+mode+"&id="+id;
}
</script><table class="std" border="0" cellspacing="2" cellpadding="0">
<tr>
	<td width="60"><img src="images/forms/icon_48_users.gif" border="0"></td>
	<td><h1>User Maintenance</h1></td>
</tr>
</table><fieldset class="tbar">
<table class="admin" border="1" cellspacing="0" cellpadding="2" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Archived Users or Users flagged to Delete</a></caption>
<tr>
	<th width="50%">Email</th>
	<th>Name</th>
	<th width="30">Newsletter</th>
	<th width="30">Product&nbsp;Notify</th>
	<th width="30">Edit</th>
	<th width="30">Del</th>
	<th width="30">Approve</th>
</tr>
<!-- rows -->
<!-- userloop -->
<tr class="trLt" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
	<td onClick="action_archived('edit','<!-- id -->');"><!-- email --></td>
	<td onClick="action_archived('edit','<!-- id -->');"><!-- name --></td>
	<td onClick="action_archived('edit','<!-- id -->');" align="center"><!-- newsletter --></td>
	<td onClick="action_archived('edit','<!-- id -->');" align="center"><!-- notify --></td>
	<td align="center"><img src="images/icons/edit.gif" onclick="action_archived('edit','<!-- id -->');" /></td>
	<td align="center"><img src="images/icons/delete.gif" onclick="action_archived('del','<!-- id -->');" /></td>
	<td align="center"><img src="images/icons/approve.gif" onclick="action_archived('activate','<!-- id -->');" /></td>
</tr>
<!-- userloop -->
<tr>
	<th align="left" colspan="7">
		<div style="float:left;"><!-- display_count --></div>
		<div style="float:right;"><!-- display_links --></div>
	</th>
</tr>
</table>
</fieldset>
<p>&nbsp;</p>

