<script>
function action(mode,id){
	location.href="<!-- url -->?action="+mode+"&id="+id;
}
</script><fieldset class="bar">
<a
	title="Create New User"
	href="users.php?action=add"
	style="background-image:url(images/icons/users.gif);">Add User</a>
</fieldset>

<table class="std" border="0" cellspacing="2" cellpadding="0">
<tr>
	<td width="60"><img src="images/forms/icon_48_users.gif" border="0"></td>
	<td><h1>User Maintenance</h1></td>
</tr>
</table>
<fieldset class="tbar">
<table class="admin" border="1" cellspacing="0" cellpadding="2" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Current Users</a></caption>
<tr>
	<th width="50%">Email</th>
	<th>Name</th>
	<th width="30">Newsletter</th>
	<th width="30">Product&nbsp;Notify</th>
	<th width="30">Edit</th>
	<th width="30">Del</th>
</tr>
<!-- rows -->
<!-- userloop -->
<tr class="trLt" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
	<td onClick="action('edit','<!-- id -->');"><!-- email --></td>
	<td onClick="action('edit','<!-- id -->');"><!-- name --></td>
	<td onClick="action('edit','<!-- id -->');" align="center"><!-- newsletter --></td>
	<td onClick="action('edit','<!-- id -->');" align="center"><!-- notify --></td>
	<td align="center"><img src="images/icons/edit.gif" onclick="action('edit','<!-- id -->');" /></td>
	<td align="center"><img src="images/icons/delete.gif" onclick="action('delflag','<!-- id -->');" /></td>
</tr>
<!-- userloop -->
<tr>
	<th align="left" colspan="6">
		<div style="float:left;"><!-- display_count --></div>
		<div style="float:right;"><!-- display_links --></div>
	</th>
</tr>
</table>
</fieldset>
<p>&nbsp;</p>


