<fieldset class="bar">
<a
	title="Save New Users Details"
	href="#" onclick="document.forms.form.Submit.click();"
	style="background-image:url(images/icons/new.gif);">Save User Details</a>
<a
	title="Cancel"
	href="users.php"
	style="background-image:url(images/icons/cancel.gif);">Cancel</a>
</fieldset><div id="Lcontentbody">
<script src ="js/usableforms.js" language="javascript1.2" type="text/javascript"></script>
<script src ="js/validation.js" language="javascript1.2" type="text/javascript"></script>
<form name="form" action="users.php" method="POST" enctype="multipart/form-data" onSubmit="return validateFields(this,'password;same,confirmpassword;');">
<input type="hidden" name="id" value="<!-- id -->">
<input type="hidden" name="action" value="<!-- action -->">
<table class="std" border="0" cellspacing="2" cellpadding="0">
<tr>
	<td width="60"><img src="images/forms/icon_48_users.gif" border="0"></td>
	<td><h1>User Maintenance</h1></td>
</tr>
</table>
<!-- Border -->
<fieldset class="tbar">
<table class="admin" border="0" cellspacing="0" cellpadding="2" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Add New User</a></caption>
<tr>
	<td class="label"><label for="id_name">Name:</label></td>
	<td><input name="name" id="id_name" type="text" size="50" value="<!-- name -->"></td>
</tr>
<tr>
	<td class="label"><label for="id_email">Email:</label></td>
	<td><input name="email" id="id_email" type="text" size="50" value="<!-- email -->"></td>
</tr>
<tr>
	<td class="label"><label for="id_chgepass">Change Password:</label></td>
	<td><input name="chgepass" id="id_chgepass" type="checkbox" value="yes" show="changePassword"></td>
</tr>
<tr relation="changePassword">
	<td class="label"><label for="New Password">New Password:</label></td>
	<td><input name="password" id="New Password" type="password" title="To assign this user a new password fill out this box. Otherwise leave it blank"/></td>
</tr>
<tr relation="changePassword">
	<td class="label"><label for="id_confirmpassword">Confirm Password:</label></td>
	<td><input name="confirmpassword" id="Confirm Password" type="password" title="Enter password agin to confirm"/></td>
</tr>
<tr>
	<td class="label"><label for="id_roles">Account Type:</label></td>
	<td><!-- account_types --></td>
</tr>
<tr>
	<td class="label"><label for="id_roles">User Roles:</label></td>
	<td><!-- roles --></td>
</tr>
<tr>
	<td class="label"><label for="id_groups">User Groups:</label></td>
	<td><!-- groups --></td>
</tr>
<tr>
	<td class="label"><label for="id_status">User Status:</label></td>
	<td><!-- status --></td>
</tr>
</table>
<table class="admin" border="0" cellspacing="0" cellpadding="2" width="100%" style="background:#fff;">
<caption id="tog"><a name="todo" onclick="this.blur();">Extended Details</a></caption>
<tr title="Check this box to include this user in newsletter mailouts">
	<td class="label"><label for="id_subscribe">Subscribe Newsletter:</label></td>
	<td><input name="newsletter" id="id_subscribe" type="checkbox" {newsletter} class="nostyle" value="1" /></td>
</tr>
<tr title="Select this option to update the user when products that interest them change">
	<td class="label"><label for="id_login">Product Notification:</label></td>
	<td><input name="notify" id="id_login" type="checkbox" {notify} class="nostyle" value="1"/></td>
</tr>
<tr>
	<td class="label"><label for="id_fname">Given Name:</label></td>
	<td><input name="firstname" id="id_fname" type="text" size="50" value="<!-- firstname -->"></td>
</tr>
<tr>
	<td class="label"><label for="id_lname">Surname:</label></td>
	<td><input name="lastname" id="id_lname" type="text" size="50" value="<!-- lastname -->"></td>
</tr>
<tr>
	<td class="label"><label for="id_gender">Gender:</label></td>
	<td>
		<input name="gender" id="id_gender1" type="radio" value="M" {genderM} /><label for="id_gender1" style="display:inline;">Male</label>
		<input name="gender" id="id_gender2" type="radio" value="F" {genderF} /><label for="id_gender2" style="display:inline;">Female</label>
	</td>
</tr>
<tr title="Check this box to include this user in newsletter mailouts">
	<td class="label"><label for="id_dob">Date of Birth:</label></td>
	<td><input name="dob" id="id_dob" value="<!-- dob -->" /></td>
</tr>
<tr>
	<td class="label"><label for="id_telephone">Telephone:</label></td>
	<td><input name="telephone" id="id_telephone" size="20" value="<!-- telephone -->" /></td>
</tr>
<tr>
	<td class="label"><label for="id_mobile">Mobile:</label></td>
	<td><input name="mobile" id="id_mobile" size="20" value="<!-- mobile -->" /></td>
</tr>
<tr>
	<td class="label"><label for="id_fax">Fax:</label></td>
	<td><input name="fax" id="id_fax" size="20" value="<!-- fax -->" /></td>
</tr>
</table>
<!-- border -->
</fieldset>
<fieldset class="tbar">
<div align="right">
	<input type="submit" name="Submit" value="Save"><input type="button" name="Cancel" value="Cancel" onclick="location.href='users.php';">
</div>
</fieldset>
</form>
<table><tbody id="waitingRoom"></tbody></table>
<script language="javascript1.2" type="text/javascript">
prepareForm();
</script>